<div class="footer">
    <footer>
        <div class="name"><%= header.title %></div>
        <div class="item phone">
            <span class="info"><%= phone %></span>
            <span class="note"><%= phoneNote %></span>
        </div>
        <div class="item address">
            <span class="info"><%= address %></span>
            <span class="note"><%= addressNote %></span>
        </div>
        <div class="item registrationId">
            <span class="info"><%= registrationId %></span>
            <span class="note"><%= registrationIdNote %></span>
        </div>
    </footer>
</div>
<div class="copyright">
    <span class="year"><%= year %></span>
    <span class="copy">&copy;</span>
    <%= copyright %>
</div>